.iapp-emoji-selector-list-wrap {
    background: $light-grey;
    bottom: 0;
    height: 250px;
    padding: 16px;
    position: fixed;
    width: 100%;
    @media (max-width: 800px) {
        width: 100%;
    }
}

.iapp-emoji-selector-list{
    // border: solid 1px $medium-grey;
    border-radius: 10px;
    height: 100%;
    margin: 0 auto;
    max-width: 310px;
    overflow: hidden;
    // padding: 1em;
    position: relative;

}

.iapp-keyboard-category-wrapper {
    display: none;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    &.iapp-active {
        display: block;
    }
}

.iapp-keyboard-page-wrap {
    position: absolute;
    transform: translate(100%, 0);
    transition: transform 200ms ease-out;
    width: 100%;
    &.iapp-active {
        transform: translate(0, 0);
    }
}

.iapp-keyboard-nav-wrap {
    text-align: center;
}

.iapp-keyboard-page-nav-button {
    background: transparentize($medium-grey, 0.5);
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin: 10px 5px;
    width: 20px;
}

.iapp-keyboard-category-nav-wrap {
    text-align: center;
    width: 100%;
}

.iapp-keyboard-category-nav-button {
    display: inline-block;
}
