.iapp-emoji-selector-list-wrap {
    background: $medium-grey;
    bottom: 0;
    height: 250px;
    padding: 16px;
    position: fixed;
    transition: transform 250ms ease;
    transform: (0, 0);
    width: 100%;
    @media (max-width: 800px) {
        width: 100%;
    }
    &.iapp-hide {
        transform: translate(0, 220px);
    }
    @media(max-width: 400px) {
        height: 270px;
    }
}

.iapp-keyboard-delete-key {
    background-color: $light-grey;
    color: $medium-grey;
    cursor: pointer;
    padding: 10px;;
    width: 9em;

    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    img {
        max-width: 100%;
    }
}

.iapp-emoji-selector-list{
    // border: solid 1px $medium-grey;
    border-radius: 10px;
    height: calc(90% - 25px);
    margin: 0 auto;
    max-width: 350px;
    overflow: hidden;
    // padding: 1em;
    position: relative;
    top: 25px
    

}

.iapp-keyboard-category-wrapper {
    display: none;
    bottom: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    &.iapp-active {
        display: block;
    }
}

.iapp-keyboard-category-nav-button {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: $medium-grey;
    cursor: pointer;
    font-size: 0.75em;
    margin: 0 3px 5px 0;
    padding: 5px;
    text-transform: uppercase;
}

.iapp-keyboard-page-wrap {
    position: absolute;
    transform: translate(100%, 0);
    transition: transform 200ms ease-out;
    width: 100%;
    &.iapp-active {
        transform: translate(0, 0);
    }
}

.iapp-keyboard-nav-wrap {
    text-align: center;
}

.iapp-keyboard-page-nav-button {
    background: transparentize(white, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 10px 5px;
    width: 12px;
}

.iapp-keyboard-category-nav-wrap {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.iapp-keyboard-category-nav-button {
    display: inline-block;
}

.iapp-show-keyboard-button {
    background-color: $light-grey;
    color: $medium-grey;
    cursor: pointer;
    left: 50%;
    padding: 10px;;
    text-align: center;
    width: 9em;
    // position: fixed;
    // transform: translate(-200px, -250px);
}

.iapp-keyboard-top-wrap {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
